    .hidden {
        display: none;
    }
    
    * {
        margin: 0px;
        box-sizing: border-box
    }
    
    .header {
        background-color: #2b982b;
        color: white;
        display: flex;
        text-transform: uppercase;
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
    
    .sec_1 {
        display: flex;
        background-color: #42ad42;
        color: white;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }
    
    .sec_1 input {
        border-radius: 37px;
        padding: 20px;
        outline: none;
        border: none;
        width: 100%;
        margin-top: 31px;
    }
    
    .sec_1 button {
        padding: 20px;
        border-radius: 41px;
        width: 100%;
        border: none;
        background-color: #2a8e20;
        color: white;
        font-size: 23px;
        margin-top: 10px
    }